<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Correo LiquidaTadeo</title>
  <style type="text/css">
  body, td { color:#002350; font-size:22px; font-family:Verdana,Helvetica,Arial; }
  .divider { background-color:#555555; height:2px; }
  .episode h1 { margin-top:0; margin-bottom:8px; font-size: 70px; }
  .episode h2 { margin-top:0; margin-bottom:8px; font-size: 39px; }
  .episode p { margin:11px 0; }
  .episode .duration { font-size:18px;color:#002350; }
  #footer { font-size: 20px; color:#555555; }
  #footer a { color:#555555;}
  </style>  
</head>
<body>
  <table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
    <tr><td align="center" valign="top">
      <table width="650" id="main" border="0" cellpadding="0" cellspacing="20">
        <tr>
          <td id="header" colspan="2">
            <a href="https://www.dragondemadera.pe"><img src="https://www.dragondemadera.pe/wp-content/uploads/2018/04/cropped-dragon_de_madera_logo_blue-23.png"  alt="Logo"></a>
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
        <tr class="episode">
          <td>
            <a href="#"><img src="https://www.dragondemadera.pe/wp-content/uploads/2018/04/dragon_de_madera_columna_dos-300x211.jpg"  alt="Dragon de madera"></a>
          </td>
          <td valign="top">
            <h1>¡Felicitaciones!  </h1>
            <h2><%= @liquidacions.nombres  %> </h2>
            
            <p>Has finalizado el Test Metabolico  Nutricional, dentro de las proximas 24 horas recibiras el resultado de tu Test. </p> 
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>          
        </tr>
        <tr>
          <td id="footer" colspan="2" align="center">  
            <p style="font-weight: bold;"> Te invitamos a que nos sigas en nuestras redes sociales.</p>
            <p>
            <a href="https://www.facebook.com/dragondemadera.peru/"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png" width="32px" height="32px"  alt="Dragon de madera"></a>
            <a href="https://www.instagram.com/dragondemadera.longmu/"><img src="https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Instagram-512.png" width="32px" height="32px"  alt="Dragon de madera"></a>
            <a href="https://api.whatsapp.com/send?phone=51997171717&text=Hola,%20me%20gustar%C3%ADa%20m%C3%A1s%20informaci%C3%B3n%20sobre%20el%20plan%20de%20alimentaci%C3%B3n%20y%20nutrici%C3%B3n%20espec%C3%ADfica.%20Muchas%20gracias."  width="32px" height="32px" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/miu-flat-social/60/whatsapp-512.png" width="32px" height="32px"  alt="Dragon de madera"></a>
            </p>
            <p><a href="https://www.dragondemadera.pe/contactenos/">Unsubscribe</a> if you do not wish to receive these emails in the future.</p>
            <a href="https://www.dragondemadera.pe">Dragon de Madera - 2019</a>
          </td>
        </tr>
      </table>
    </td></tr>
  </table>
</body>
</html>
